<h1 mat-dialog-title>Populate the inputs with one time payment sums</h1>
<h2>Credit: {{ data.sumOfCredit }}</h2>
<form (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width" *ngFor="let d of inputsNumber">
    <mat-label>{{ d }} payment</mat-label>
    <input matInput [(ngModel)]="paymentsData[d - 1]" name="{{ d }}" />
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onSubmit()">Submit</button>
  <button mat-button mat-dialog-close (click)="onCancel()">Close</button>
</div>
